In [ ]:
# Assignment 3

In [ ]:
# Q1. Python program to count positive and negative numbers in a list.     (normal for loop)
# a = [10, -20, 30, -40, 50, -60, 0]

In [78]:
a = [10, -20, 30, -40, 50, -60, 0]
    
positive = 0
negative = 0

for i in a: 
    if i > 0:
        positive += 1
    elif i < 0:
        negative += 1

print('Positive number =',positive)
print('Negative number =',negative)

Positive number = 3
Negative number = 3

In [ ]:
# Q2. Using List Comprehension. Write a Python program to count positive and negative numbers in a list.    (nested list)
# a = [10, -20, 30, -40, 50, -60, 0]

In [1]:
a = [10, -20, 30, -40, 50, -60, 0]

positive = len([i for i in a if i > 0])
print('Positive number =',positive)

negative = len([i for i in a if i < 0])
print('Negative number =',negative)

Positive number = 3
Negative number = 3

In [92]:
# Q3. Remove Multiple Elements from List in Python
# a = [10, 20, 30, 40, 50, 60, 70]
# remove = [20, 40, 60]
# Resulting list = [10, 30, 50, 70]

In [100]:
a = [10, 20, 30, 40, 50, 60, 70]

remove = [20, 40, 60]

a = [i for i in a if i not in remove]
print(a)

[10, 30, 50, 70]

In [ ]:
# Q4. Remove duplicates from list in Python      ( 3 solution  set , orderet set and for loop)
# a = [1, 2, 2, 3, 4, 4, 5]

In [122]:
a = [1, 2, 2, 3, 4, 4, 5]

x = list(set(a))
print(x)


a = [1, 2, 2, 3, 4, 4, 5]

result = []

for i in a:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# Q5. Python program to find the sum of all items in a dictionary      (value program)
# Input: {'a': 100, 'b': 200, 'c': 300}
# Output: 600

In [117]:
item = {'a': 100, 'b': 200, 'c': 300}

sum = 0

for i in item.values():
    sum += i
print(sum)

600

In [ ]:
# Q6. Key with Maximum Unique Values - Python
# dict1 = {"key1": [5, 7, 5, 4, 5], "key2": [6, 7, 4, 3, 3], "key3": [9, 9, 6, 5, 5]}
# output : key2

In [8]:
dict1 = {"key1": [5, 7, 5, 4, 5], "key2": [6, 7, 4, 3, 3], "key3": [9, 9, 6, 5, 5]}

max_key, max_val = None, 0

for k, v in dict1.items():
    unique_count = len(set(v))
    if unique_count > max_val:
        max_key, max_val = k, unique_count

print(max_key)

key2

In [ ]:
# Q7. Story: An online store records daily product sales.
# Convert this list into total sales per product.
sales = [
    ("apple", 3),
    ("banana", 2),
    ("apple", 5),
    ("banana", 1),
    ("orange", 4)
]

# Output : {'apple': 8, 'banana': 3, 'orange': 4}

In [11]:
sales = [
    ("apple", 3),
    ("banana", 2),
    ("apple", 5),
    ("banana", 1),
    ("orange", 4)
]

total_sales = {} 

for product, qty in sales: 
    if product in total_sales: 
        total_sales[product] += qty 
    else: 
        total_sales[product] = qty 
print(total_sales)

{'apple': 8, 'banana': 3, 'orange': 4}

In [ ]:
# Q8. Undo Feature in Text Editor
# A text editor supports an undo operation.
# Given operations: 
# actions = ["type A", "type B", "delete", "type C"]
# Output : ['type A', 'type C']

# actions = ["type A", "type B", "delete", "type C","type B","delete","type A","type C","delete"]
# Output : ['type A', 'type C', 'type A']

In [4]:
actions = ["type A", "type B", "delete", "type C"]

output = []

for action in actions:
    if action == "delete":          
        output.pop()    
    else:
        output.append(action)

print(output)


actions = ["type A", "type B", "delete", "type C","type B","delete","type A","type C","delete"]

output = []

for action in actions:
    if action == "delete":          
        output.pop()    
    else:
        output.append(action)

print(output)

['type A', 'type C']
['type A', 'type C', 'type A']

In [ ]:
# Q9. Print the index number of those Two boxes whose weights sum to a target.
# weights = [2, 7, 11, 15 , 6 , 3, 7 , 3 , 7 , 2]
# target = 9

# Output
'''
0 1
4 5
0 6
4 7
0 8
8 9
'''

In [12]:
weights = [2, 7, 11, 15 , 6 , 3, 7 , 3 , 7 , 2]
target = 9

for i in range(len(weights)):
    for j in range(i + 1, len(weights)):
        if weights[i] + weights[j] == target:
            print(i, j)

0 1
0 6
0 8
1 9
4 5
4 7
6 9
8 9

In [ ]:
# Q10. Online Store Price Update (map + lambda)
# An online store increases all product prices by 10%.
# prices = [100, 200, 300, 400]
# output [110, 220, 330, 440]

In [37]:
prices = [100, 200, 300, 400]

update = list(map(lambda x : x + x * 0.1,prices))

print(update)

[110.0, 220.0, 330.0, 440.0]

In [ ]:
# Q11. Employee Bonus System (map + if–else)
# Employees earning ≥ 50,000 get a 20% bonus, others get 10%.
# salaries = [40000, 60000, 50000, 30000]

In [42]:
salaries = [40000, 60000, 50000, 30000]

bonuses = list(map(lambda x: x + x * 0.2 if x >= 50000 else x + x * 0.1, salaries))

print(bonuses)

[44000.0, 72000.0, 60000.0, 33000.0]

In [ ]:
# Q12. Order Filtering System (filter + multiple conditions)
# An e-commerce system wants orders above ₹1000 and not cancelled.

orders = [
    {"amount": 1200, "status": "completed"},
    {"amount": 800, "status": "completed"},
    {"amount": 1500, "status": "cancelled"},
    {"amount": 2000, "status": "completed"}
]

In [46]:
orders = [
    {"amount": 1200, "status": "completed"},
    {"amount": 800, "status": "completed"},
    {"amount": 1500, "status": "cancelled"},
    {"amount": 2000, "status": "completed"}
]

new_orders = list(filter(lambda x: x["amount"] > 1000 and x["status"] != "cancelled", orders))

print(new_orders)

[{'amount': 1200, 'status': 'completed'}, {'amount': 2000, 'status': 'completed'}]

In [ ]:
# Q13. Data Cleaning Pipeline (map + filter + lambda)
# From a data pipeline:
#  a.)Remove negative numbers
#  b.) Square remaining numbers
#  c.) Keep only results > 50

# data = [-4, -1, 2, 4, 8]
# Output : [64]

In [48]:
data = [-4, -1, 2, 4, 8]

output = [x*x for x in data if x > 0 and x*x > 50]
print(output)

[64]